@charset "UTF-8";
@keyframes image{
    from{
        transform: translateX(-50px);
        opacity: 0;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes texto{
    from{
        transform: translateY(30px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(15, 15, 15);
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.imagem{
    background: url(imagens/Minha\ foto.jpg);
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.719);
    animation: image 2s;
}
.text{
    width: 80vw;
    color: white;
    animation: texto 1.5s;
    text-align: justify;
    font-size: 0.9em;
}
p{
    margin: 5px;
    text-indent: 20px;
}
.final{
    text-indent: 0px;
}
nav > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    transition: .2s;
}
nav{
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 1.5em;
    color: white;
}
nav > a:hover{
    background-color: rgb(53, 53, 53);
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.329);
}
li, h2{
    color: white;
    animation: texto 1.5s;
}
.habilidades{
    margin: 50px;
    width: 80vw;
}
h2{
    font-size: 1.2em;
    margin: 10px;
}
li{
    margin-left: 40px;
}
.imagem2{
    background-image: url(imagens/computador.jpg);
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.719);
    animation: image 2s;
    margin-right: 50px;
}
.habilidades{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}
.link{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
#zap{
    background-color: #23C842;
    margin: 1px;
}
header{
    margin: 30px;
}
section{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 30px;
    margin: auto;
    width: 70vw;

    border-radius: 20px;
}
.links{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}
.links > a{
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid white;
}
.imagem_linguagem{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.comp2{
    background-image: url(imagens/comp2.jpg);
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.719);
    animation: image 2s;
}
.escrita{
    color: white;
    width: 80vw;
    animation: texto 1.5s;
}
#python, #html{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 0px 5px cadetblue;
    transition: .2s;
}
#tit_pro{
    margin: 10px;
}
#html_imagem{
    border-radius: 50%;
}
span{
    color: white;
}
a{
    text-decoration: none;
}
#python:hover, #html:hover{
    background-color: rgb(131, 190, 192);
    transition: .2s;
    transform: scale(1.02);
}
.projetos{
    width: 70vw;
    animation: texto 1.5s;
}
#github{
    color: white;
    text-decoration: underline;
    font-weight: 800;
}