@charset "UTF-8";
@media screen and (min-width: 800px){
    .text{
        width: 500px;
        margin-left: 3vw;
        font-size: 1em;
    }
    .escrita{
        width: 400px;
    }
    main{
        align-items: center;
    }
    .projetos{
        width: 50vw;
    }
    .habilidades, #main_habilidades{
        gap: 30px;
    }
    #zap, #git, #instagram, #brilhar{
        width: 30vw;
        justify-content: space-around;
    }
}
@media screen and (max-width: 510px){
    section{
        width: 85vw;
    }
    .projetos{
        width: 85vw;
    }
}